@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
}

body {
    font-family: "Outfit", sans-serif;
    font-size: 15px;
    background-color: var(--light-gray);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 5.7em 1.9em;
}

main {
    margin-bottom: 1em;
}

.card {
    background-color: var(--white);
    color: var(--dark-blue);
    padding: 1rem;
    border-radius: 1.25em;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.05);
    margin: 0 auto;
}

.card img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 0.625rem;
    margin-bottom: 0.5rem;
}

.card-content {
    padding: 1em;
    text-align: center;
}

.card-content h1 {
    color: var(--dark-blue);
    margin-bottom: 1rem;
}

.card-content p {
    color: var(--grayish-blue);
    letter-spacing: 0.2px;
    margin-bottom: 0.5em;
}

footer {
    margin-top: 1em;
}

.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (min-width: 480px) {
    body {
        margin: 4.2rem;
    }

    .card {
        width: 320px;
        padding: 1.1em;
    }

    .card-content {
        padding-top: 1em;
    }
}
